<div class="row">
  <form class="col s4 offset-s4" method="post" [formGroup]="userForm" action="api/user/new" (ngSubmit)="doCreate($event)"
        #appForm="ngForm">

    <div class="row">
      <div class="input-field col s12">
        <input formControlName="email" name="email" id="email" type="email"
               class="validate border-bottom" min="4" max="30" disabled>
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input min="4" max="30" formControlName="password" type="password" name="password" id="password"
               class="validate border-bottom" required>
        <label for="password">{{'USER.PASSWORD' | translate}}</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input min="4" max="30" formControlName="confirmPassword" type="password" name="password" id="password1"
               class="validate border-bottom" required>
        <label for="password1">{{'BUTTON.CONFIRM' | translate}}</label>
      </div>
    </div>
    <p class="red-text center">{{errorMsg}}</p>
    <div class="col s4 offset-s4">
      <button class="waves-effect waves-light btn blue" id="loginBtn" type="submit">{{'INFO.SAVE' | translate}}</button>
    </div>
  </form>
</div>
