<div class="row">
  <div class="input-field col s6 offset-s3">
    <i class="material-icons prefix">search</i>
    <input id="icon_prefix" type="text" class="validate" [(ngModel)]="searchParam" (change)="onChange($event.target.value)">
    <label for="icon_prefix">{{'INFO.SEARCH' | translate}}...</label>
  </div>
</div>

<div class="row">
  <div class="collection col s10 offset-s1">
    <a *ngFor="let device of devices" class="collection-item brown-text">
      <div class="row">
        <div class="col s6 offset-s1">
          <h3>{{device?.name}}</h3>
          <p *ngIf="device.model">{{'DEVICE.MODEL' | translate}}: {{device?.model}}</p>
          <p>{{'DEVICE.POWER' | translate}}: {{device?.power}} {{device?.powerUnit}} W</p>
        </div>
        <div class="col s3 pull-s1">
          <p *ngIf="device.startTime">From {{device.startTime}}</p>
          <p *ngIf="device.endTime">To {{device.endTime}}</p>
          <p *ngIf="device.hours">{{'INFO.DURING' | translate}} {{device.hours}} {{'INFO.HOURS' | translate}}</p>
        </div>
        <div class="switch col s2 pull-s1">
          <label>
            Off
            <input type="checkbox" (change)="turnAction($event, device, stateInput)"
                   #stateInput [checked]="device.state === 'on' ? 'checked' : ''" [disabled]="device.secured">
            <span class="lever"></span>
            On
          </label>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="row">
  <div class="col s6 offset-s5">
    <ul class="pagination">
      <li><a (click)="choosePage(currentPage-1, $event)">
        <i class="material-icons #d7ccc8 brown lighten-4">chevron_left</i></a>
      </li>
      <li [ngClass]="{'active': currentPage === page}" *ngFor="let page of pages"><a (click)="choosePage(page, $event)">{{page}}</a></li>
      <li><a (click)="choosePage(currentPage+1, $event)">
        <i class="material-icons #d7ccc8 brown lighten-4">chevron_right</i></a>
      </li>
    </ul>
  </div>
</div>
