.border-bottom{
  border-bottom-color: #6d5451 !important;
  box-shadow: 0 1px 0 0 #6d5451 !important;
}

.form-width{
  width: 25%;
}

.margin_bottom{
  margin-bottom: 5%;
}

.margin-top{
margin-top: 150px;
}

.margin_left{
  margin-left: 25%;
}

.switch{
 margin-top: 5%;
}
.row .col{
  padding: 0 !important;
}
.center{
  display: flex;
  justify-content: center;
}

.indent{
  margin-right: 30px;
}

button{
  opacity: 0.94;
}

body{
  background: url("./assets/resources/img/home.jpg") no-repeat;
  height: 100%;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}
