<div class="row">
  <div class="collection col s10 offset-s1">
    <a *ngFor="let house of houses" class="collection-item brown-text">
      <div class="row">
        <div class="col s9 offset-s1">
          <h4>{{'ADDRESS' | translate}}: {{house?.country}}, {{house?.city}}, {{house?.street}}, {{house?.house}} {{house?.flat}}</h4>
          <p>{{'USER.OWNER' | translate}}: {{house?.ownerLogin}}</p>
          <a class="waves-effect waves-light btn #bcaaa4 brown lighten-2" href="api/user/sendConfirm?email={{house.ownerLogin}}">{{'BUTTON.SEND' | translate}}</a>
        </div>
      </div>
    </a>
  </div>
</div>

