<nav class="margin_bottom">
  <div class="nav-wrapper blue">
    <a class="brand-logo" [routerLink]="['/']">Smart house</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li *ngIf="!isAuthorized"><a [routerLink]="['/login']">Log in</a></li>
      <li *ngIf="isAuthorized"><a href="api/logout">Log out</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <div  *ngIf="isAuthorized" class="fixed-action-btn horizontal click-to-toggle">
    <a class="btn-floating btn-large blue">
      <i class="material-icons">menu</i>
    </a>
    <ul>
      <li *ngIf="isAuthorized"><a class="btn-floating blue" [routerLink]="['/device/charts']"><i class="material-icons">insert_chart</i></a>
      </li>
      <li *ngIf="isOwner"><a class="btn-floating blue" [routerLink]="['/reg']"><i
        class="material-icons">perm_identity</i></a></li>
      <li *ngIf="isOwner"><a class="btn-floating blue" [routerLink]="['/device/add']"><i class="material-icons">add</i></a>
      </li>
      <li *ngIf="isOwner"><a class="btn-floating blue" [routerLink]="['/device/manage']"><i class="material-icons">perm_data_setting</i></a>
      </li>
      <li *ngIf="isOwner"><a class="btn-floating blue" [routerLink]="['/device/all']"><i class="material-icons">settings_power</i></a>
      </li>
      <li *ngIf="isAdmin"><a class="btn-floating blue" [routerLink]="['/house/add']"><i class="material-icons">add</i></a>
      </li>
      <li *ngIf="isAdmin"><a class="btn-floating blue" [routerLink]="['/house/all']"><i class="material-icons">home</i></a>
      </li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>


