<div class="slider">
  <ul class="slides">
    <li>
      <img src="assets/resources/img/smart_house.jpg">
      <div class="caption right-align">
        <h3>Your dreams will come true</h3>
        <h5 class="light grey-text text-lighten-3">Just try.</h5>
      </div>
    </li>
    <li>
      <img src="assets/resources/img/house.jpg">
      <div class="caption right-align">
        <h3>One click - hundred of possibilities</h3>
      </div>
    </li>
    <li>
      <img src="assets/resources/img/smart.jpg">
      <div class="caption left-align">
        <h3>Manage your desires</h3>
        <h5 class="light grey-text text-lighten-3">It is simple</h5>
      </div>
    </li>
  </ul>
</div>
