<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- jQuery libs -->
    <script src="/public/libraries/jquery/jquery-3.1.1.min.js"></script>
    <script src="/public/libraries/jquery/jquery.serialize-object.min.js"></script>
    <script src="/public/libraries/jquery/jquery.simplePagination.js"></script>

    <script src="/public/script/ownerLogin.js"></script>
</head>
<body>
Please, ownerLogin in system
<form method="post" name="loginForm">
    <input type="text" name="ownerLogin"/>
    <input type="password" name="password"/>
    <button id="loginBtn" onclick="ownerLogin" type="button">Login</button>
</form>
</body>
</html>