<div class="row">
  <div class="col s2">
    <label>Start date </label><input type="date" class="datepicker" id="datepicker1" >
  </div>
  <div class="col s2 offset-s1">
    <label>End date</label><input type="date" class="datepicker" id="datepicker2" >
  </div>
  <div class="col s2 offset-s1">
  <select class="browser-default" (change)="changeUser($event.target.value)">
    <option>Choose user</option>
    <option *ngFor="let user of users"  [value]="user.email">{{user.name}}</option>
  </select></div>
  <div class="col s3 offset-s1">
  <button class="btn blue " (click)="getReport($event)"><i class="material-icons">play_for_work</i> Download report</button></div>
</div>
<div class="row">
  <div class="col s5">
    <div style="width:100%" id="pie1"></div>
  </div>
  <div class="col s5 offset-s2">
    <div style="width:100%" id="pie2"></div>
  </div>
</div>
<div class="row">
  <div class="col s5">
    <div style="width:100%" id="pie3"></div>
  </div>
  <div class="col s5 offset-s2">
    <div style="width:100%" id="pie4"></div>
  </div>
</div>


